In [25]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
import warnings
warnings.filterwarnings('ignore')

In [26]:
import sklearn
print(sklearn.__version__)

1.5.0

In [27]:
import pandas as pd

In [28]:
import pandas as pd

# Especifica la codificaci√≥n del archivo
df = pd.read_csv('Tabla_general_fmf.csv', encoding='ISO-8859-1')

# Mostrar los primeros registros
print(df.head())

      Equipo  Jugados  Ganados  Empatados  Perdidos  Goles_anotados  \
0  Cruz Azul        4        3          1         0               9
1      Pumas        4        3          1         0               9
2     Tigres        4        3          1         0               6
3  Monterrey        4        3          0         1               4
4     Toluca        4        2          2         0               7

   Goles_recibidos  Diferencia_goles  Puntos
0                1                 8      10
1                3                 6      10
2                1                 5      10
3                5                -1       9
4                3                 4       8

In [29]:
print(df.columns)

Index(['Equipo', 'Jugados', 'Ganados', 'Empatados', 'Perdidos',
       'Goles_anotados', 'Goles_recibidos', 'Diferencia_goles', 'Puntos'],
      dtype='object')

In [30]:
# Verificar la calidad de los datos
print(df.head())

      Equipo  Jugados  Ganados  Empatados  Perdidos  Goles_anotados  \
0  Cruz Azul        4        3          1         0               9
1      Pumas        4        3          1         0               9
2     Tigres        4        3          1         0               6
3  Monterrey        4        3          0         1               4
4     Toluca        4        2          2         0               7

   Goles_recibidos  Diferencia_goles  Puntos
0                1                 8      10
1                3                 6      10
2                1                 5      10
3                5                -1       9
4                3                 4       8

In [31]:
df.describe()

,Jugados,Ganados,Empatados,Perdidos,Goles_anotados,Goles_recibidos,Diferencia_goles,Puntos
count,18.0,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000,18.000000
mean,4.0,1.444444,1.111111,1.444444,5.166667,5.166667,0.000000,5.444444
std,0.0,1.149026,0.758395,1.247219,2.229482,2.502939,4.043877,3.381998
min,4.0,0.000000,0.000000,0.000000,1.000000,1.000000,-6.000000,0.000000
25%,4.0,0.250000,1.000000,0.250000,4.000000,3.250000,-3.000000,3.250000
50%,4.0,1.500000,1.000000,1.000000,5.500000,5.000000,-0.500000,5.500000
75%,4.0,2.000000,1.000000,2.000000,6.000000,7.000000,2.000000,8.000000
max,4.0,3.000000,3.000000,4.000000,9.000000,9.000000,8.000000,10.000000

In [47]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Equipo            18 non-null     object
 1   Jugados           18 non-null     int64
 2   Ganados           18 non-null     int64
 3   Empatados         18 non-null     int64
 4   Perdidos          18 non-null     int64
 5   Goles_anotados    18 non-null     int64
 6   Goles_recibidos   18 non-null     int64
 7   Diferencia_goles  18 non-null     int64
 8   Puntos            18 non-null     int64
 9   Prob_Ganar        18 non-null     float64
dtypes: float64(1), int64(8), object(1)
memory usage: 1.5+ KB

In [32]:
df[["Equipo","Goles_anotados", "Puntos"]]

           Equipo  Goles_anotados  Puntos
0       Cruz Azul               9      10
1           Pumas               9      10
2          Tigres               6      10
3       Monterrey               4       9
4          Toluca               7       8
5           Atlas               6       8
6     Guadalajara               6       7
7         Tijuana               7       7
8         Am√©rica               6       6
9   Atl. San Luis               5       5
10         Necaxa               5       4
11        Pachuca               2       4
12         Puebla               5       4
13           Le√≥n               4       3
14         Ju√°rez               6       1
15         Santos               1       1
16       Mazatl√°n               2       1
17      Quer√©taro               3       0

In [45]:
def calcular_probabilidad_triumfo(Ganados, Empatados, Perdidos):
    Jugados = Ganados + Empatados + Perdidos
    if Jugados == 0:
        return 0  # Evita divisi√≥n por cero si no hay partidos jugados
    return Ganados / Jugados

In [46]:
df

,Equipo,Jugados,Ganados,Empatados,Perdidos,Goles_anotados,Goles_recibidos,Diferencia_goles,Puntos,Prob_Ganar
0,Cruz Azul,4,3,1,0,9,1,8,10,75.0
1,Pumas,4,3,1,0,9,3,6,10,75.0
2,Tigres,4,3,1,0,6,1,5,10,75.0
3,Monterrey,4,3,0,1,4,5,-1,9,75.0
4,Toluca,4,2,2,0,7,3,4,8,50.0
5,Atlas,4,2,2,0,6,4,2,8,50.0
6,Guadalajara,4,2,1,1,6,4,2,7,50.0
7,Tijuana,4,2,1,1,7,7,0,7,50.0
8,Am√©rica,4,2,0,2,6,5,1,6,50.0
9,Atl. San Luis,4,1,2,1,5,6,-1,5,25.0
10,Necaxa,4,1,1,2,5,4,1,4,25.0
11,Pachuca,4,1,1,2,2,3,-1,4,25.0
12,Puebla,4,1,1,2,5,8,-3,4,25.0
13,Le√≥n,4,0,3,1,4,7,-3,3,0.0
14,Ju√°rez,4,0,1,3,6,9,-3,1,0.0
15,Santos,4,0,1,3,1,6,-5,1,0.0
16,Mazatl√°n,4,0,1,3,2,8,-6,1,0.0
17,Quer√©taro,4,0,0,4,3,9,-6,0,0.0

In [43]:
df["Prob_Ganar"] = df["Ganados"] / df["Jugados"] *100

In [44]:
df

,Equipo,Jugados,Ganados,Empatados,Perdidos,Goles_anotados,Goles_recibidos,Diferencia_goles,Puntos,Prob_Ganar
0,Cruz Azul,4,3,1,0,9,1,8,10,75.0
1,Pumas,4,3,1,0,9,3,6,10,75.0
2,Tigres,4,3,1,0,6,1,5,10,75.0
3,Monterrey,4,3,0,1,4,5,-1,9,75.0
4,Toluca,4,2,2,0,7,3,4,8,50.0
5,Atlas,4,2,2,0,6,4,2,8,50.0
6,Guadalajara,4,2,1,1,6,4,2,7,50.0
7,Tijuana,4,2,1,1,7,7,0,7,50.0
8,Am√©rica,4,2,0,2,6,5,1,6,50.0
9,Atl. San Luis,4,1,2,1,5,6,-1,5,25.0
10,Necaxa,4,1,1,2,5,4,1,4,25.0
11,Pachuca,4,1,1,2,2,3,-1,4,25.0
12,Puebla,4,1,1,2,5,8,-3,4,25.0
13,Le√≥n,4,0,3,1,4,7,-3,3,0.0
14,Ju√°rez,4,0,1,3,6,9,-3,1,0.0
15,Santos,4,0,1,3,1,6,-5,1,0.0
16,Mazatl√°n,4,0,1,3,2,8,-6,1,0.0
17,Quer√©taro,4,0,0,4,3,9,-6,0,0.0